.board-list {
  display: flex;
  flex-direction: column;
  font-size: rem(14px);
  padding-top: 5px;
  gap: 1px;

  .board-list-menu-btn {
    // position: absolute;
    // right: 0;
    opacity: 0;
    padding: 7px;
    z-index: 3;
  }

  a {
    // text-align: left;
    font-family: figtree-regular;
  }

  .board-list-a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 8px;
    border-radius: 4px;
    transition: 0.3s;
    color: $main-color;
    gap: 6px;

    &.active {
      background-color: #cce5ff;
    }

    &:hover {
      background-color: #dcdfec;

      .board-list-menu-btn {
        opacity: 1;
      }
    }
    .left-board-a-container {
      gap: 6px;
    }
  }
}

.add-board-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  text-align: left;
  font-size: rem(14px);
  transition: 0.3s;
  padding-top: 11px;
  // padding-left: 18px;

  &:hover {
    background-color: #dcdfec;
  }

  span {
    font-size: rem(20px);
  }
}

.add-board-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 27%;
  width: 30%;
  min-width: 240px;
  background-color: $main-bgc-white;
  text-align: center;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;
  // align-items: center;
  box-shadow: $main-box-shadow;
  font-weight: 400;
  padding: 13px;
  span {
    position: absolute;
    right: 1%;
    top: 5%;
  }
  label {
    text-align: left;
    font-size: rem(14px);
  }
  button {
    font-size: rem(16px);
    padding: 8px 16px;
    font-family: figtree-regular;
  }
  > * {
    font-family: figtree-regular;
    padding: 0 10px;
  }

  .add-board-label-and-input-container {
    width: 100%;
    gap: 7px;
    label {
      text-align: left;
    }
    & .input {
      // width: 70%;
      min-width: 180px;
    }
  }

  .modal-header {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: rem(32px);

    .close-add-board-modal {
      font-size: rem(14px);
      font-weight: 400;
      cursor: pointer;
      width: 5px;
    }
  }

  .btn-container {
    align-self: flex-end;
  }

  & .btn {
    min-width: 100px;
  }
}

.side-board-btn-container {
  position: relative;
>*:not(svg) {
  width: 100%;
}
  .input-search-icon {
    position: absolute;
    bottom: -3%;
    left: 4%;
  }
  .input-bolt-icon {
    opacity: 0;
    position: absolute;
    bottom: 6%;
    left: 86%;
  }
  .search-board-input {
    border: 0;
    background-color: transparent;
    padding-left: 33px;
    &:hover {
      background-color: #dcdfec;
      .input-bolt-icon {
        opacity: 1;
      }
    }
  }
}
