.nav-bar {
    height: 100vh;
    background-color: $side-nav;
    text-align: center;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >* {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        a {
            color: #fff;
            &:hover {
                background-color: #131523;
                text-transform: none;
            }
        }

        a.active {
            background-color: rgb(128, 128, 128);
        }
    }

}