.nav-bar {
  min-height: 100vh;
  background-color: $side-nav;
  text-align: center;
  width: 65px;
  position: sticky;
  top: 0;

  nav {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65px;

    img {

      &:hover {
        background-color: #131523;
        border-radius: 6px;
        text-transform: none;
      }
    }

    a.active {
      img {
        border-radius: 6px;
        background-color: rgb(128, 128, 128);
      }
    }
  }
}

.side-board-btn-container {
  font-size: rem(14px);
  font-family: figtree-regular;
}

.side-group-bar {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  flex-direction: column;
  gap: 10px;
  padding: 13px;
  background-color: #f6f7fb;
  width: rem(255px);
  min-height: 100vh;
  border-right: 1px solid #d0d4e4;
  transition: 0.1s, rotate 0.1s;
  z-index: 2;

  &.closed {
    width: 30px;
  }

  .open-side-bar-btn {
    @include side-bar-btn;
    z-index: 20;

    &:hover {
      @include side-bar-btn-hover;
      padding-left: 10px;
    }
  }
}

.closed-btn {
  rotate: 180deg;
  left: 20px;
}

.close-side-bar-btn {
  @include side-bar-btn;
  position: absolute;
  right: -6%;

  &:hover {
    @include side-bar-btn-hover;
    padding-right: 10px;
  }
}

.workspace-select {
  flex-direction: column;
  gap: 5px;
  padding-top: 3px;

  span {
    font-size: rem(16px);
    font-family: figtree-regular;
    font-weight: 600;
  }
}

.workspace {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #676879;
  margin-right: 5px;
}

.workspace-header {
  font-size: rem(14px);
  font-family: figtree-light;
  line-height: 21px;
}

.nav-bar-logo {
  position: relative;
  max-height: 44px;
  min-width: 40.5px !important;
  max-width: 40.5px;
  object-fit: contain;
  top: 6px;
}

.nav-bar-board-logo {
  max-width: 32px;
  position: relative;
  top: 2px;
  mix-blend-mode: plus-lighter;
}

.nav-bar-avatar {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 44px;
  height: 44px;
}