.user-msg {
    color:white;
    padding: 10px;
    font-size: rem(14px);
    font-family: roboto-regular;
    position: fixed;
    top:17%;
    left:50%;
    background-color: grey;
    transform: translate(-50%, -20%);
    border-radius: 4px;
    box-shadow: $main-box-shadow;
}

.user-msg button {
    float:right;
    border:0;
    margin: 5px;
    cursor: pointer;
    background-color: transparent;
}

.user-msg.success {
    background-color: #258750;
}
.user-msg.error {
    background-color: lightpink;
}
