.board-header {
  background-color: rgb(255, 255, 255);
  font-family: roboto-regular;
  padding-top: 16px;
  padding-right: 30px;
  padding-left: 38px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  vertical-align: baseline;

  will-change: transform;
  transform: translate3d(0, 0, 0);

  .board-header-top {
    display: flex;
    align-items: center;

    .board-title-heading h1 {
      font-size: 24px;
      line-height: 42px;
      height: 42px;
      vertical-align: baseline;
      letter-spacing: 0px;

      font-family: poppins-medium;
    }

  }
}

.board-title-heading {
  display: flex;
  min-width: 0;

  // padding: 0 4px;
  align-items: center;
  // letter-spacing: 1.5px;
  font-weight: 500;

}

.board-header-right {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  .board-actions {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 8px;

    .activity-logger {
      @include btn-no-style;
      flex: 0 0 auto;
      padding: 4px 8px;
      margin-top: 5px;
      color: $icon-color;

      @include hover-supported-header {
        background-color: #dcdfec;
        border-radius: 4px;
      }
    }

    .last-seen-action {
      @include hover-supported-header {
        background-color: #dcdfec;
        border-radius: 4px;
      }

      @include btn-no-style;
    }
  }
}

.avatar-imgs {
  display: flex;
}

.board-header-left {
  display: flex;
  align-items: center;
  flex: 1 0;
  min-width: 100px;
  margin-right: 8px;
  margin-left: -5px;
  gap: 1px;
  height: 44px;

  .board-info-toggle {
    @include hover-supported-header {
      background-color: #dcdfec;
      border-radius: 4px;
    }

    .info-header {
      margin-top: 5px;
      @include btn-no-style;
      color: #676879;
    }
  }

  .star-header-container {
    @include hover-supported-header {
      background-color: #dcdfec;
      border-radius: 4px;
    }

    .star {
      @include btn-no-style;
      margin-top: 5px;
      color: #676879;
    }
  }
}

.board-header-description {
  font-size: 0.9rem;
  font-weight: 400;
  cursor: default;
  position: relative;
  border: 1px solid transparent;
  display: flex;
  align-items: flex-start;
  inline-size: min-content;
  align-items: center;
  font-size: 14px;
  line-height: 22px;

  .board-header-txt {
    color: #676879;
    white-space: nowrap;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    width: initial;
    padding-left: 2.5px;
    font-size: rem(14px);
    font-family: figtree-regular;

  }

  .description-modal {
    white-space: nowrap;
    margin-left: 6px;
    padding-inline: 2px;
    cursor: pointer;
    color: #1f76c2;
    font-family: poppins-regular-400;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-tablist {
  display: flex;
  justify-content: flex-start;
  // padding-top: 7px;
  font-size: rem(14px) !important;
  font-family: figtree-regular !important;

  height: 36px;

  >* {
    padding: 7px;
    padding-bottom: 3px;
  }

  a {
    color: $main-color;
  }

  .main-table-a {
    @include flex-center;
    padding: 6px 8px 0 8px;
    padding-right: 14px;
    position: static;

    .blue-line {
      position: absolute;
      top: 126px;
      width: 113px;
      left: 39px;
      height: 3px;
      background-color: #0073ea;
      z-index: 555;
    }

    .main-table-txt {
      padding-left: 3px;
    }

  }
}

.tablist-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 48px;
  padding: 0;
  // gap: 6px;
  padding-top: 14px;
  padding-bottom: 2px;

  .kanban {
    display: flex;
    align-items: center;
    width: 60.5px;
    height: 26px;
    padding: 8px;
    margin-right: 6px;
    margin-left: 6px;
  }
}

.board-filter {
  padding: 16.5px;
  padding-left: 0;
  color: grey;
  padding-bottom: 31px;

  button {
    font-family: figtree-regular !important;
  }
}

.board-header-main {
  // border-bottom: $border-cell;
  // padding-bottom: 7px;
}

.monday-style-split-button--kind-primary:not(.monday-style-split-button--disabled).monday-style-split-button--color-primary .monday-style-split-button__secondary-button {
  width: 28px;
  padding: 10px;
  color: white;
}

.monday-style-button--kind-tertiary {
  color: #676879;
  padding: 0;
  // max-width: 92px;
}

.spacer-header {

  @include spacer;
  padding-top: 8px;
}