.board-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: rem(14px);
  
  .board-list-menu-btn {
    opacity: 0;
    padding: 7px;
    z-index: 3;
  }
  position: a;
  .board-list-a {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
    border-radius: 4px;
    transition: 0.3s;
    color: $main-color;

    &.active {
      background-color: #cce5ff;
    }
    &:hover {
      background-color: #dcdfec;
      .board-list-menu-btn {
        opacity: 1;
      }
    }
  }
}

.add-board-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 30%;
  width: 50%;
  background-color: #fff;
  text-align: center;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: $main-box-shadow;

  & .input {
    width: 400px;
  }
  & .btn {
    width: 150px;
  }
}
