.board-list {
  display: flex;
  flex-direction: column;
  font-size: rem(14px);

  .board-list-menu-btn {
    opacity: 0;
    padding: 7px;
    z-index: 3;
  }

  position: a;

  .board-list-a {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
    border-radius: 4px;
    transition: 0.3s;
    color: $main-color;

    &.active {
      background-color: #cce5ff;
    }

    &:hover {
      background-color: #dcdfec;

      .board-list-menu-btn {
        opacity: 1;
      }
    }
  }
}

.add-board-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  text-align: left;
  font-size: rem(14px);
  transition: 0.3s;
  padding-top: 11px;
  padding-left: 18px;

  &:hover {
    background-color: #dcdfec;
  }

  span {
    font-size: rem(20px);
  }
}

.add-board-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 33%;
  width: 30%;
  min-width: 240px;
  background-color: #fff;
  text-align: center;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  box-shadow: $main-box-shadow;
  font-family: figtree-regular;
  font-weight: 400;
  padding: 13px;

  .modal-header {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: rem(32px);

    .close-add-board-modal {
      font-size: rem(14px);
      font-weight: 400;
      cursor: pointer;
      width: 5px;
    }
  }

  & .input {
    width: 70%;
    min-width: 180px;
  }

  .btn-container {
    align-self: flex-end;
  }

  & .btn {
    min-width: 100px;
  }
}

.side-board-btn-container {
  position: relative;
  
  .input-search-icon {
    position: absolute;
    bottom: 6%;
    left: 8%;
  }
  .input-bolt-icon {
    opacity: 0;
    position: absolute;
    bottom: 6%;
    left: 86%;
    
  }
  .search-board-input {
    border: 0;
    background-color: transparent;
    padding-left: 40px;
    &:hover {
      background-color: #dcdfec;
      .input-bolt-icon {
        opacity: 1;
      }
    }
  }
}
