.group-list {
    width: max-content;

    .main-group-container {
        padding: 0 4px;
        border-radius: 5px;
        box-shadow: $main-box-shadow;
    }

    .group-name {
        width: max-content;
        font-size: 2rem;
    }

    .cell {
        background-color: $main-bgc-white;
        text-align: center;
        border: 0.7px solid gray;
        min-width: 9.375rem;
    }

}