.group-list {
  width: max-content;
  font-family: figtree-regular;
  padding-top: 7px;

  .group-header-container {

    display: block;
    height: 2.75rem;
    height: rem(70px);
    position: sticky;
    z-index: 6;
    background-color: $main-bgc-white;
    top: 53px;

    @include for-narrow-layout {

      top: 210px;
    }

    h4 {
      // margin-top: 0.625rem;
      margin-left: rem(18px);
    }

    &:hover {
      .group-list-menu-btn {
        opacity: 1;
      }
    }

    .group-header-editable-name {
      .monday-style-clickable {
        height: 26px;

        input {
          margin-top: 0;
          margin-left: 22px;
        }
      }

      h4 {
        font-family: poppins-regular-400;
        font-weight: 600;
      }

      input {
        margin: 0;
        outline: none;
      }
    }

    .group-header-name {
      position: relative;
      margin-left: 15px;
      width: max-content;
      font-size: 2rem;
      @include left-sticky;
      left: 55px;

      input {
        margin-top: 10px;
        margin-left: 20px;
      }
    }

    .group-list-menu-btn {
      position: absolute;
      top: -3.5%;
      left: -49%;
      opacity: 0;
      transition: 0.3s;
    }

    .group-collapse-btn-container {
      position: absolute;
      top: -4px;
      left: -7px;
      transition: 0.3s;

      button {
        border: 0;
        background-color: transparent;
      }
    }

    .group-color-picker {
      position: absolute;
      top: -35px;
      left: 250px;
      rotate: 90deg;
      z-index: 3;
    }

    &.collapsed {

      .group-collapse-btn-container {
        position: absolute;
        top: 1px;
        left: -9px;
        transition: 0.3s;
      }
    }
  }
}

.main-group-container {
  min-width: 100vw;
}

.row-collapsed-group-container {

  display: flex;
  margin-top: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;

  .main-left-header {
    display: flex;
    z-index: 2;
    background-color: $main-bgc-white;
    position: sticky;
    left: 0px;
  }

  .monday-style-clickable {
    height: 26px;

    input {
      margin-top: 0;
      margin-left: 22px;
    }

    h4 {
      font-family: poppins-regular-400;
      font-weight: 600;
    }
  }

  input {
    // margin: 0;
    // outline: none;
  }
}

.main-left-header {
  display: flex;
  z-index: 2;
  background-color: $main-bgc-white;
  position: sticky;
  left: 2px;

  @include for-narrow-layout {

    @include left-sticky;

    .floatin-white-box {

      display: block;
      position: absolute;
      width: 40px;
      height: 36px;
      background-color: $main-bgc-white;
      left: -40px;

    }
  }
}

.row-header-container {
  display: flex;
  border-top-left-radius: 6px;
  margin-top: 6px;

  .main-right-header {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    height: rem(36px);
    flex: 1 1 auto;
    max-width: unset;
    border-bottom: $border-cell;
    border-top: $border-cell;

    @include for-narrow-layout {

      .add-label-btn-container {
        position: relative;
        height: 22px;
        width: 22px;
        border-radius: 4px;
        margin: auto;
        margin-left: 5px;
        transition: 0.3s;
        @include flex-center;

        &:hover {
          background-color: #d5d8e4;
        }
      }

      .add-label-btn {
        @include flex-center;
        font-size: rem(19px);
        color: #707181;
        transition: 0.3s;
      }
    }

    .main-left-header {
      display: flex;
      @include left-sticky;
      z-index: 2;
      background-color: $main-bgc-white;

      .floatin-white-box {
        position: absolute;
        width: 40px;
        height: $cell-height;
        background-color: $main-bgc-white;
        left: -40px;
      }
    }
  }
}

.left-row-container {
  flex-basis: rem(351px);
  min-width: rem(400px);
  display: flex;
  justify-content: center;
  line-height: rem(24px);
  height: 36px;

  &.collapsed {
    height: 60px;
  }

  .collapsed-group-header {
    position: relative;
    border: $border-cell;
    border-left: 0;
    flex-grow: 1;

    .tasks-count-container {
      white-space: nowrap;
      font-size: 14px;
      line-height: 22px;
      color: $icon-color;
      margin-left: 22px;
    }
  }

  .task-main-container {
    display: flex;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-top: $border-cell;
    border-bottom: $border-cell;
    border-right: $border-cell;
  }

  .left-border {
    @include left-border;
    border-top-left-radius: 6px;

    &.collapsed {
      border-bottom-left-radius: 6px;
    }
  }

  .checkbox-row-container {
    display: flex;
    justify-content: center;
    width: 33px;
    height: rem(36px);
    border-bottom: $border-cell;
    border-right: $border-cell;
    border-top: $border-cell;

    .row-checkbox {
      margin: 0;
      width: 16px;
    }
  }
}

.add-task-container {
  display: flex;
  align-items: center;
  height: $cell-height;
  opacity: 0.6;
  border-bottom-left-radius: 6px;

  &:hover {
    background-color: #f4f5f8;
    opacity: 1;
  }

  .checkbox-row-container {
    display: flex;
    justify-content: center;
    width: rem(33.6px);
    height: 2.25rem;

    .row-checkbox {
      margin: 4px 3px 3px 3px;
      width: 18px;
    }
  }

  .white-box {
    flex-grow: 1;
    height: $cell-height;
    border-bottom: $border-cell;
  }
}

.add-task-input-container {
  @include left-sticky;
  left: 40px;
  min-width: rem(400px);
  border-bottom: $border-cell;
  display: flex;
  align-items: center;
  height: $cell-height;
  border-bottom-left-radius: 6px;

  .floatin-white-box-under {
    position: absolute;
    width: 44px;
    height: $cell-height;
    background-color: $main-bgc-white;
    left: -40px;
  }

  .editable-add-task {
    width: rem(362px);

    opacity: 1;
  }

  .monday-style-clickable {
    h6 {
      height: 24px;
      line-height: revert;
    }

    input {
      height: 24px;
    }
  }

  .left-border-add-task {
    @include left-border;
    border-bottom-left-radius: 6px;
  }
}

.status-label-header {

  @include status-layout;
  border-bottom: $border-cell;
  border-top: $border-cell;
  border-left: $border-cell;
}

.label-statuses-header {
  @include status-layout;
  border-top: $border-cell;
  border-right: $border-cell;
  border-bottom: $border-cell;

}

.priority-label-header {
  border-right: $border-cell;
  border-bottom: $border-cell;
  border-top: $border-cell;
  @include status-layout;

}

.person-label-header {
  @include person-layout;
  text-align: center;

  border-bottom: $border-cell;
  border-top: $border-cell;
}

.date-label-header {
  border-right: $border-cell;
  border-top: $border-cell;
  @include date-layout;
  text-align: center;
  @include left-bottom-border;
}

.label-sum-container {
  display: flex;
  align-items: center;
  height: $cell-height;
  margin-bottom: 26px;

  .hidden-task-container {
    position: sticky;
    z-index: 4;
    left: 40px;
    display: flex;
    align-items: center;
    height: $cell-height;

    .hidden-task {
      min-width: rem(400px);
    }
  }
}