.group-list {
  width: max-content;

  // .main-group-container {
  //   padding: 0 4px;
  //   border-radius: 5px;
  //   box-shadow: $main-box-shadow;
  // }

  .group-header-container {
    // position: relative;
    display: block;
    height: rem(76px);

    &:hover {
      .group-list-menu-btn {
        opacity: 1;
      }
    }

    .group-header-name {
      margin-left: 15px;
      width: max-content;
      font-size: 2rem;
    }

    .group-list-menu-btn {
      position: absolute;
      top: 20%;
      left: -5%;
      opacity: 0;
      transition: .3s;
    }
  }

  .cell {
    font-size: rem(14px);
    padding: 2px 4px;
    background-color: $main-bgc-white;
    text-align: center;
    border: 0.7px solid #d0d4e4;
    min-width: 9.375rem;

    &:hover {
      cursor: pointer;
    }
  }

  .group-color-picker {
    position: absolute;
  }
}

.row-header-container {
  display: flex;

  .main-left-header {
    // max-width: rem(351px);
    flex-basis: rem(351px);

  }
}

.left-row-container {
  display: flex;
  justify-content: center;
  // text-align: left;
  height: 36px;

  >* {
    border: 1px solid #d0d4e4;
    // height: inherit;
  }

  .task-main-container {
    display: flex;
    min-width: rem(180px);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .left-border {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 6px;
    height: 100%;
    overflow: hidden;
    background-color: red;
    transition: width .07s cubic-bezier(0, 0, 0.35, 1);
    will-change: width;
    border: none;
    border-top-left-radius: 6px;
    // border-bottom-left-radius: 6px;

  }

  .checkbox-row-container {
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 41px;
    height: rem(36px);
    // border-left: solid 6px red;

    .row-checkbox {
      margin: 0;
    }
  }
}