* {
  box-sizing: border-box;
}

html {
}

body {
  font-size: rem(18px);
  margin: 0;
  margin: auto;
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section,
main,
footer {
  // padding: 5px;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}

.btn {
  @include btn;
}

.input {
  @include input;
}
