.home-page {
    .home-page-top-header {
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        background-color: $main-bgc-white;
        height: 40px;
        font-size: rem(26px);
        font-family: poppins-semi-bold-600;
        color: $main-color;
        letter-spacing: -.06em;
        z-index: 555;


        @include for-narrow-layout {
            height: 42px;
        }

        @include for-normal-layout {
            height: 62px;
        }

        @include for-wide-layout {
            height: 72px;
            ;
        }

        span {
            font-family: poppins-regular-400;
            font-size: rem(12px);
            padding-top: rem(8px);
            letter-spacing: 0em;
        }

        .header-logo {
            padding-inline-start: .5em;
            max-width: rem(46px);
        }
    }

    .home-page-top-header:hover {
        cursor: pointer;
    }

    background-color: #07083c;
    background: linear-gradient(to top,
        #07083c 0%,
        rgb(12, 13, 74)25%,
        rgb(15, 16, 72)50%,
        rgb(15, 16, 72) 100%);
    // background-image: url("https://thumbs.gfycat.com/CommonDeadlyAmericanpainthorse-size_restricted.gif");
    // background-image: linear-gradient(rgba(13, 14, 69,.5), rgba(13, 14, 69,.5), url("https://thumbs.gfycat.com/CommonDeadlyAmericanpainthorse-size_restricted.gif"));


    color: $main-bgc-white;
    font-family: roboto-thin;
    text-align: center;
    flex-wrap: wrap;
    //colum

    .home-page-hero {
        .home-page-hero-header {
            padding-top: 2.5em;
            font-size: rem(32px);
            font-family: poppins-regular-400;
            font-weight: 400;

            .header-top-txt {
                opacity: 88%;
                display: block;
            }

            .header-lower-txt {
                display: block;
                line-height: .9em;
            }

            @include for-narrow-layout {
                font-size: rem(44px);
            }

            @include for-normal-layout {
                padding-top: 1.5em;
                font-size: rem(64px);
            }

            @include for-wide-layout {
                padding-top: 1.5em;
                font-size: rem(72px);
            }
        }

        .home-page-hero-sub-header {
            font-family: Poppins-Thin;
            margin-top: 1.7em;
            font-size: rem(18px);

            .home-page-sub-header-span {
                background: linear-gradient(to right, rgb(15, 16, 72), $main-bgc-white 100%);
                background-position: 0 100%;
                background-size: 100% 1px;
                background-repeat: repeat-x;
            }

            @include for-narrow-layout {
                font-size: rem(20px);
            }

            @include for-normal-layout {
                font-size: rem(22px);
            }

        }

    }

    .home-page-link {

        .btn-get-started {
            color: $main-bgc-white;
            margin-top: 3em;
            align-self: center;
            display: inline-block;
            font-size: rem(16px);
            padding: 12px 102px;
            background: linear-gradient(-60deg, $start-btn-li-blue 20%, $start-btn-blue 80%);
            border-radius: 25px;
            transform: 1s;
            font-family: poppins-regular-400;


            @include for-narrow-layout {
                padding: 12px 72px;
            }

            @include for-normal-layout {
                padding: 12px 62px;
            }

            @include for-wide-layout {
                padding: 12px 42px;
            }

            .btn-get-started-arrow-container {
                display: inline-block;
                width: 10px;

                .btn-get-started-arrow {
                    padding-inline-start: 5px;
                    font-size: rem(16px);
                    transition: all .5s ease-in-out;

                    svg{
                        position: relative;
                        top:3px;
                        color: $main-bgc-white;
                    }
                }
          

            }
        }



        .btn-get-started:hover .btn-get-started-arrow {
            padding-inline-start: 15px;
        }

        .btn-get-started:hover {
            background: linear-gradient(-60deg, #9f9fe1 20%, #432cde 80%);

        }

        .home-page-promo {
            margin-top: 1.5em;
            display: flex;
            justify-content: center;
            font-size: rem(12px);
            font-weight: 600;
            letter-spacing: .2em;
            flex-wrap: nowrap;
            

            @include for-narrow-layout {
                margin-right: 73px;
            }

            .home-page-promo1 {
                letter-spacing: .1em;
                width: 120px;
                text-align: center;
                margin-inline-end: 1.5em;

                @include for-narrow-layout {
                    text-align: end;
                    width: 200px;
                    margin-inline-end: 1.5em;
                }

            }

            .home-page-promo2 {
                letter-spacing: .1em;
                margin-inline-start: 1.5em;
                width: 200px;
                text-align: start;
            }

            margin-bottom: 5em;
        }
    }

    .home-page-image {
        // opacity: 70%;
        overflow-clip-margin: content-box;
        overflow: clip;
        width: 100%;
    }

    .home-page-bottom-container {
        color: $main-color;
        letter-spacing: .1em;
        min-width: 100%;
        background-color: $main-bgc-white;

        h3 {
            margin-top: .5em;
        }
    }

    .home-page-companies-logo {
        // @include flex-colum;
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .logo-box {
            width: 20vw;
        }

        .home-page-company-logo {
            align-self: center;
            width: 100%;
            padding: 4px;

            @include for-narrow-layout {
                padding: 14px;
            }

            @include for-normal-layout {
                padding: 18px;
            }

            @include for-wide-layout {
                padding: 24px;
            }
        }
    }

    .home-page-p {
        padding: 0 0.5em;
    }

    .home-page-span-bold {
        font-family: roboto-regular;

    }


    .elementToFadeInAndOut {
        -webkit-animation: fadeinout 4s linear infinite forwards;
        animation: fadeinout 4s linear infinite forwards;
    }

    @-webkit-keyframes fadeinout {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @keyframes fadeinout {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    .SecondElementToFadeInAndOut {
        -webkit-animation: fadeinoutTwo 4s linear infinite forwards;
        animation: fadeinoutTwo 4s linear infinite forwards;
    }

    @-webkit-keyframes fadeinoutTwo {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    @keyframes fadeinoutTwo {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

}

.next-btn-container{
    svg{
        position: relative;
        top:3px;
        color: $main-bgc-white;
    }  
}