.login-page {
    @include login-layout;
    font-family: roboto-thin;
    line-height: 1
}

.top-header {
    @include header;

    .login-logo {
        @include header-logo
    }
}

.router-wrapper {
    @include flex-column;
    flex-grow: 1;
    padding: 2.5rem;

    .email-first-component {
        @include flex-column;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        width: $fullPrecent;
        text-align: center;

        .login-title {
            font-size: 2.5rem;
            line-height: 1;
            font-weight: 100;
            margin-bottom: 0.5rem;
        }

        .email-page {
            margin-top: 1.75rem;
        }
    }

}

.email-input-and-button-container {
    width: 360px;
    margin-bottom: 2rem;

    .input-container {
        width: $fullPrecent;

        .user-email-label {
            height: 20px;
            margin-bottom: 4px;
            font-family: roboto-regular;
            font-weight: 600;
            font-size: 1rem;
            display: inline-block;
        }

        .email-input {
            @include login-input;

        }

    }

}

.next-btn-container {

    height: 48px;
    width: $fullPrecent;

    .next-btn {

        @include login-btn;

        .next-wrapper {

            margin-right: 12px;
        }
    }
}

.login-seperator-container {
    margin-bottom: 2rem;
    line-height: 1.1;

    .login-seperator {
        display: flex;
        justify-content: center;
        align-items: center;

        .seperator-line {
            height: 0;
            width: 200px;
            border: 0.5px solid #c5c7d0;
            margin: 16px;
        }

        .or-sign-in-txt {
            font-size: 16px;
        }
    }

}

.suggest-signup-container {
    display: flex;
    align-items: center;
    font-family: roboto-light;
    font-size: 1rem;

    .signup-quest {

        padding-right: 5px;
    }

    .sign-up {
        color: $link-color;

    }
}

.name-input {
    @include login-input;
}

.signup-header {
    font-size: 40px;
    font-weight: 100;
    font-family: roboto-light;

    b {
        font-family: roboto-black;
    }
}