.board-details {
  position: relative;
  display: flex;
  height: min-content;
  font-family: roboto-regular;
}

.board-container {
  width: 100%;
  position: relative;
  // display: grid;
  // grid-template-columns: $layoutPadding 1fr $layoutPadding;
  // gap: $layoutPadding;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
  height: 100vh;

  &::-webkit-scrollbar-track {
    position: absolute;
  }

  > * {
    grid-column: 2;
  }
}

.groups-container {

  @include for-narrow-layout {

    padding-left: 40px !important;
  }
}

.add-group-btn-container {
  display: inline-block;
  height: 32px;
  width: 142px;
  // position: relative;
  // top: -91px;
}

.bottom-add-group-btn {
  @include flex-center;
  justify-self: flex-start;
  color: $main-color;
  background-color: transparent;
  border: 1px solid #c3c6d4;
  font-size: rem(14px);
  gap: 5px;
  height: 32px;
  width: 142px;
  margin-top: 20px;
  position: sticky;
  left: 40px;
  &:hover {
    background-color: #dcdfec;
  }
}
