@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}

@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url('../../setup/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../../setup/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto-regular;
    src: url('../../setup/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-black;
    src: url('../../setup/fonts/Roboto/Roboto-Black.ttf');
}

// @font-face {
//     font-family: roboto;
//     // src: url('../../setup/fonts/Roboto/');
// }

// @font-face {
//     font-family: roboto-light;
//     src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }

// @font-face {
//     font-family: roboto-medium;
//     src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }