@font-face {
    font-family: figtree-regular;
    src: url('../../setup/fonts/Figtree/Figtree-Regular.ttf');
}

@font-face {
    font-family: figtree-light;
    src: url('../../setup/fonts/Figtree/Figtree-Light.ttf');
}

@font-face {
    font-family: figtree-bold;
    src: url('../../setup/fonts/Figtree/Figtree-Bold.ttf');
}

@font-face {
    font-family: roboto-thin;
    src: url('../../setup/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../../setup/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto-regular;
    src: url('../../setup/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-black;
    src: url('../../setup/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: poppins-semi-bold-600;
    src: url('../../setup/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: poppins-regular-400;
    src: url('../../setup/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Thin;
    src: url('../../setup/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: Poppins-medium;
    src: url('../../setup/fonts/Poppins/Poppins-Medium.ttf');
}

// @font-face {
//     font-family: poppins-regular-300;
//     src: url('../../setup/fonts/Poppins/Poppins-Black.ttf');
// }

// @font-face {
//     font-family: roboto;
//     // src: url('../../setup/fonts/Roboto/');
// }

// @font-face {
//     font-family: roboto-light;
//     src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }

// @font-face {
//     font-family: roboto-medium;
//     src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }