// Colors
$main-color: #323338;
//Main Bgc
$main-bgc-white: rgb(255, 255, 255);
//Main Box Shadow
$main-box-shadow: 0 1px 7px 0 rgb(128, 128, 128);
//Side Nav
$side-nav: rgb(41, 47, 76);

// icons color
$icon-color: #676879;

//Btns-Colors
$btn-green: rgb(37, 135, 80);
$btn-blue: #0073ea;

//Color Picker
$hover-header: #dcdfec;
$link-color: #0fa2e2;
$yellow: #ffcb00;
$drk-yellow: #cab641;
$li-green: #9cd326;
$green: #00c875;
$drk-green: #037f4c;
$li-blue: #66ccff;
$blue: #579bfc;
$drk-blue: #0086c0;
$perple: #a25ddc;
$drk-perple: #784bd1;
$ornge: #ff642e;
$pink: #ff5ac4;
$drk-pink: #ff158a;
$red: #e2445c;
$drk-red: #bb3354;
$grey: #808080;
$li-grey: #c4c4c4;
$li-orange: #fdab3d;
$start-btn-blue: #5034ff;
$start-btn-li-blue: #b4b4ff;
$header-grey: #f7f7f7;
$header-border-bottom: #e0e0e0;
$login-main-clr: #333;

// Layout
$layoutPadding: 17px;
$fullPrecent: 100%;
$commonFontSize: 14px;

// Breakpoints
$mobile-breakpoint: 555px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 1200px;

$padded-break-small: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-medium: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-large: $normal-breakpoint + $layoutPadding * 2;