// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// LAYOUT
$layoutPadding: 27px;

// Breakpoints
$mobile-breakpoint: 555px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 1200px;

$padded-break-small: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-medium: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-large: $normal-breakpoint + $layoutPadding * 2;