// Colors
$main-color: #323338;
//main-bgc........................
$main-bgc-white: rgb(255, 255, 255);

//side-nav .......................
$side-nav: rgb(41, 47, 76);

//btns-color:......................

//green-btn
$btn-green: rgb(37, 135, 80);
//blue-btn
$btn-blue: rgb(0, 115, 234);

//color-picker......................
$yellow: #FFCB00;
$drk-yellow: #CAB641;
$li-green: #9CD326;
$green: #00C875;
$drk-green: #037F4C;
$li-blue: #66CCFF;
$blue: #579BFC;
$drk-blue: #0086C0;
$perple: #A25DDC;
$drk-perple: #784BD1;
$ornge: #FF642E;
$pink: #FF5AC4;
$drk-pink: #FF158A;
$red: #E2445C;
$drk-red: #BB3354;
$grey: #808080;
$li-grey: #C4C4C4;
$li-orange: #FDAB3D;

//old colors - TODO DELETE IT..............
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// LAYOUT...............................
$layoutPadding: 27px;

// Breakpoints
$mobile-breakpoint: 555px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 1200px;

$padded-break-small: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-medium: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-large: $normal-breakpoint + $layoutPadding * 2;