// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";

// Views
@import "views/about-us";
@import "views/home-page";
@import "views/car-app";
@import "views/review-app";
@import "views/user-details";
@import "views/login-page";
@import "views/board-details";

// Components
@import "cmps/nav-bar";
@import "cmps/app-footer";
@import "cmps/user-msg";
@import "cmps/shopping-cart";
@import "cmps/board-header";